<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881153789479-9v303l7d05k7jbhq5n6umpn71dul1psn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881153789479-9v303l7d05k7jbhq5n6umpn71dul1psn</string>
	<key>API_KEY</key>
	<string>AIzaSyBZNyJsnu-IWO7iuCFegWw1hegQzJrMgXU</string>
	<key>GCM_SENDER_ID</key>
	<string>881153789479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truc.Moviedb</string>
	<key>PROJECT_ID</key>
	<string>moviedb-242707</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-242707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881153789479:ios:ff4a7336507f69dc</string>
	<key>DATABASE_URL</key>
	<string>https://moviedb-242707.firebaseio.com</string>
</dict>
</plist>